<div class="container">
  <div class="row">
    <div class="col-md-6 pr-lg-4 mb-4 mb-md-0">
      <div class="position-relative" data-aos="fade-right">
        <img src="images/about/about-3.jpg" class="img-fluid rounded-sm" alt="video-bg">
        <div class="floating-video overlay rounded-sm">
          <img src="images/about/about-4.jpg" class="img-fluid rounded-sm" alt="video-thumb">
          <a class="venobox play-icon icon-center" data-autoplay="true" data-vbtype="video" href="https://www.youtube.com/watch?v=jrkvirglgaQ">
            <i class="fa fa-play text-secondary bg-white rounded-circle"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-6 align-self-center pl-lg-4">
      <p class="subtitle" data-aos="fade-up">About Agico</p>
      <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">Eausmod tempor magna nostrud exercitation</h2>
      <p data-aos="fade-up" data-aos-delay="400">Lorem ipsum dolor sit amet consectetur adipicing elit sed do usmod tempor
        incididunt.enim ad minim veniam, quis nostrud exer citation ulla mco laboris nisi ut aliquip commodo.</p>
      <p data-aos="fade-up" data-aos-delay="500">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accu santium
        doloreque laudantum.</p>
      <a class="btn btn-primary" href="#" data-aos="fade-up" data-aos-delay="600">Contact Us</a>
    </div>
  </div>
</div>