<!-- blog -->
<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="subtitle">latest news</p>
      <h2 class="section-title">Learn Form Agico</h2>
    </div>
    <div class="col-12">
      <div class="blog-slider">
        <div class="px-3 mb-5">
          <div class="card border-0 shadow rounded-xs">
            <img src="images/blog/blog-post-1.jpg" class="img-fluid card-img-top" alt="post-thumb">
            <div class="card-body">
              <p class="card-date">Dec 30, 2018</p>
              <h5><a class="text-dark" href="blog-details.html">Cupidat non proident sunt officia deserunt mollit
                  anim.</a></h5>
            </div>
          </div>
        </div>
        <div class="px-3 mb-5">
          <div class="card border-0 shadow rounded-xs">
            <img src="images/blog/blog-post-2.jpg" class="img-fluid card-img-top" alt="post-thumb">
            <div class="card-body">
              <p class="card-date">Dec 30, 2018</p>
              <h5><a class="text-dark" href="blog-details.html">Cupidat non proident sunt officia deserunt mollit
                  anim.</a></h5>
            </div>
          </div>
        </div>
        <div class="px-3 mb-5">
          <div class="card border-0 shadow rounded-xs">
            <img src="images/blog/blog-post-3.jpg" class="img-fluid card-img-top" alt="post-thumb">
            <div class="card-body">
              <p class="card-date">Dec 30, 2018</p>
              <h5><a class="text-dark" href="blog-details.html">Cupidat non proident sunt officia deserunt mollit
                  anim.</a></h5>
            </div>
          </div>
        </div>
        <div class="px-3 mb-5">
          <div class="card border-0 shadow rounded-xs">
            <img src="images/blog/blog-post-1.jpg" class="img-fluid card-img-top" alt="post-thumb">
            <div class="card-body">
              <p class="card-date">Dec 30, 2018</p>
              <h5><a class="text-dark" href="blog-details.html">Cupidat non proident sunt officia deserunt mollit
                  anim.</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- blog -->