<!-- counter -->
<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="8">0</span>K+</p>
        <h6 class="text-dark font-weight-normal">Downloads per day</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="20">0</span>+</p>
        <h6 class="text-dark font-weight-normal">Design awards</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="25">0</span>K+</p>
        <h6 class="text-dark font-weight-normal">Totally satisfied users</h6>
      </div>
      <div class="col-md-3 col-sm-6 mb-4 mb-md-0 text-center">
        <p class="h2 text-dark"><span class="counter" data-count="30">0</span>+</p>
        <h6 class="text-dark font-weight-normal">People behind this app</h6>
      </div>
    </div>
  </div>
</section>
<!-- counter -->